{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="Description" content="Joemar's Djanjo Template Website" />
  <meta name="Keywords" content="portfolio, joemar, template, html, css, js, django" />
  <meta name="Author" content="joemar25" />
  <title>{% block title %} {% endblock %}</title>
  
  <link link rel="icon" href="data:,">
  <link rel="shortcut icon" href="{% static 'img/icon.jpg' %}" type="image/x-icon">

  {% include 'global-includes/head-css.html' %}
  {% include 'global-includes/head-js.html' %}

</head>

<body class="bg-gray-900 flex flex-col min-h-screen" hx-target="this">

  {% include 'global-includes/loading-animation.html' %}

  <!-- Main content -->
  <main class="container mx-auto px-4 flex-grow">
    {% include 'global-includes/navigation.html' %}
    {% block content %} {% endblock %}
  </main>

  {% include 'global-includes/foot-js.html' %}

</body>

</html>