<!-- settings.html -->
{% block content %}

<dialog id="settings_modal" class="modal">
    <div class="modal-box p-8 rounded-lg shadow-lg w-96 max-w-full mx-auto">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

            <h3 class="font-bold text-lg mb-4">Settings</h3>

            <!-- Theme Configuration -->

            <div class="mb-4">
                <label for="theme-selector" class="label">Theme</label>
                <div class="relative">
                    <select id="theme-selector" class="select capitalize w-full" data-choose-theme>
                        <option disabled selected>Select Theme</option>
                        <!-- Add theme options here -->
                    </select>
                </div>
            </div>

            <div class="flex justify-center">
                <button id="defaultButton" type="button" class="btn w-1/2 mr-2">Default</button>
            </div>

        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button> Hidden Close Button </button>
    </form>
</dialog>

{% endblock content %}