<!-- settings.html -->
{% block content %}

<dialog id="settings_modal" class="modal">
    <div
        class="modal-box bg-white dark:bg-customDark-200 p-8 rounded-lg shadow-lg w-full sm:w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 2xl:w-1/3">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 dark:text-white">✕</button>

            <h3 class="font-bold text-lg mb-4 text-gray-900 dark:text-white">Settings</h3>

            <!-- Theme Configuration -->
            <div class="mb-4">
                <label for="theme" class="block text-gray-900 dark:text-gray-300 font-semibold mb-2"> Theme: </label>
                <select id="theme" name="theme"
                    class="w-full p-2 border rounded-md bg-gray-300 text-gray-700 dark:bg-gray-700 dark:text-gray-300">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                </select>
            </div>

            <!-- Other Configuration -->

            <button id="saveChangesBtn" type="button"
                class="w-full bg-blue-500 text-white py-2 rounded-md dark:bg-blue-800">
                Save Changes
                <i class="fas fa-save"></i>
            </button>

        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

{% endblock content %}