@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
:root {
  /* Light Theme */
  --color-background-primary-light: #f7f7f7;
  --color-background-support-light: #efefef;
  --color-text-primary-light: #6c757d;
  --color-text-secondary-light: #ccc;
  --color-support-light: #333;
  --color-select-light: #fff498;

  /* Dark Theme */
  --color-background-primary-dark: #333;
  --color-background-support-dark: #444;
  --color-text-primary-dark: #ccc;
  --color-text-secondary-dark: #999;
  --color-support-dark: #f7f7f7;
  --color-select-dark: #000;

  --color-transparent: transparent;
}

/* All CSS Goes Here */
@import "https://fonts.googleapis.com/css?family=Raleway:100,400,700";

/* Make all text unselectable */
@layer utilities {
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
