@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
:root {
  /* Light Theme */
  --color-background-primary-light: #f7f7f7;
  --color-background-support-light: #efefef;
  --color-text-primary-light: #6c757d;
  --color-text-secondary-light: #ccc;
  --color-support-light: #333;
  --color-select-light: #fff498;

  /* Dark Theme */
  --color-background-primary-dark: #333;
  --color-background-support-dark: #444;
  --color-text-primary-dark: #ccc;
  --color-text-secondary-dark: #999;
  --color-support-dark: #f7f7f7;
  --color-select-dark: #000;

  --color-transparent: transparent;
}

/* All CSS Goes Here */
@import "https://fonts.googleapis.com/css?family=Raleway:100,400,700";


          /** CSS DARK THEME PRIMARY COLORS */  --color-primary-100:  #bad4aa; --color-primary-200:  #c2d9b3; --color-primary-300:  #c9debd; --color-primary-400:  #d1e2c6; --color-primary-500:  #d9e7cf; --color-primary-600:  #e0ecd9;  /** CSS DARK THEME SURFACE COLORS */  --color-surface-100:  #121212; --color-surface-200:  #282828; --color-surface-300:  #3f3f3f; --color-surface-400:  #575757; --color-surface-500:  #717171; --color-surface-600:  #8b8b8b;  /** CSS DARK THEME MIXED SURFACE COLORS */  --color-surface-mixed-100:  #21221f; --color-surface-mixed-200:  #363734; --color-surface-mixed-300:  #4c4c4a; --color-surface-mixed-400:  #636361; --color-surface-mixed-500:  #7b7b79; --color-surface-mixed-600:  #949493;  /** EXAMPLES */  color:  var(--color-primary-600);  background-color:  var(--color-surface-300);
          
        