@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import "https://fonts.googleapis.com/css?family=Raleway:100,400,700";

/* Make all text unselectable */
@layer utilities {
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .skeleton {
    color: transparent;
  }

  .skeleton::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #eee 0px, #fff 50%, #eee 100%);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
  }

  @keyframes skeleton {
    0% {
      background-position: -100% 0;
    }

    100% {
      background-position: 100% 0;
    }
  }
}
