<!-- navigation.html -->

<div id="navigation" class="text-upper text-lg b border-b p-4">

    {% if request.resolver_match.view_name != 'index' and request.resolver_match.view_name != '' %}

    <button hx-get="{% url 'index' %}" hx-push-url="true" data-tip="Home Page"
        class="tooltip tooltip-bottom btn cursor-pointer px-3 py-2 rounded-lg">
        Home
    </button>

    {% else %}

    <button hx-get="{% url 'main' %}" hx-push-url="true" data-tip="Main Page"
        class="tooltip tooltip-bottom btn cursor-pointer px-3 py-2 rounded-lg">
        Main
    </button>

    {% url 'admin:index' as admin_url %}
    {% if admin_url %}
    <a href="{{ admin_url }}" title="Go to Admin Page" hx-push-url="true" data-tip="Admin Page"
        class="tooltip tooltip-bottom btn cursor-pointer px-3 py-2 rounded-lg">
        Admin
    </a>
    {% endif %}

    {% endif %}

    <!-- <div class="dropdown inline-block relative">
        <select id="nav-theme-selector" class="btn cursor-pointer px-3 py-2 rounded-lg" data-choose-theme>
            <option disabled selected class="btn btn-sm btn-block btn-ghost justify-start"> Theme </option>
            <option class="btn btn-sm btn-block btn-ghost justify-start" value="dark"> Dark </option>
            <option class="btn btn-sm btn-block btn-ghost justify-start" value="light"> Light </option>
            <option class="btn btn-sm btn-block btn-ghost justify-start" value="retro"> Retro </option>
            <option class="btn btn-sm btn-block btn-ghost justify-start" value="cyberpunk"> Cyberpunk </option>
            <option class="btn btn-sm btn-block btn-ghost justify-start" value="valentine"> Valentine </option>
            <option class="btn btn-sm btn-block btn-ghost justify-start" value="aqua"> Aqua </option>
        </select>
    </div> -->

    <button id="fullscreen-btn" data-tip="Full Screen Mode"
        class="tooltip tooltip-bottom btn cursor-pointer px-3 py-2 rounded-lg">
        <i class="fas fa-expand"></i>
    </button>

    <button onclick="settings_modal.showModal()" data-tip="Settings"
        class="tooltip tooltip-bottom btn cursor-pointer px-3 py-2 rounded-lg">
        <i class="fa-sharp fa-solid fa-gear"></i>
    </button>

</div>