{% load static %}

<!-- NOTE: check if this min file exist -->
<!-- <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script> -->







<!--
    htmx documentation is in https://htmx.org/
    to be specific: https://htmx.org/docs/#installing
    note: update this from time to time, this is so good.
          this is used for our html that does not need much javascript.
-->
<script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"> </script>
<script type="module" src="{% static 'js/index.js' %}"></script>
