<div id="navigation" class="text-upper text-lg b border-b border-gray-300 text-gray-900 dark:text-gray-100 p-4">

    {% if request.resolver_match.view_name != 'index' and request.resolver_match.view_name != '' %}

    <button hx-get="{% url 'index' %}" hx-push-url="true"
        class="cursor-pointer px-3 py-2 rounded-lg hover:bg-slate-900 hover:text-slate-100 dark:hover:bg-gray-500 dark:hover:text-white">
        Home
    </button>

    {% else %}

    <button hx-get="{% url 'main' %}" hx-push-url="true"
        class="cursor-pointer px-3 py-2 rounded-lg hover:bg-slate-900 hover:text-slate-100 dark:hover:bg-gray-500 dark:hover:text-white">
        Main
    </button>

    <a href="{% url 'admin:index' %}" title="Go to Admin Page" hx-push-url="true"
        class="cursor-pointer px-3 py-2 rounded-lg hover:bg-slate-900 hover:text-slate-100 dark:hover:bg-gray-500 dark:hover:text-white">
        Admin
    </a>

    {% endif %}

    <button id="fullscreen-btn" title="Full Screen"
        class="cursor-pointer px-3 py-2 rounded-lg hover:bg-slate-900 hover:text-slate-100 dark:hover:bg-gray-500 dark:hover:text-white">
        <i class="fa-solid fa-expand"></i>
    </button>

    <button id="theme-toggle" title="Toggle Dark Mode"
        class="cursor-pointer px-3 py-2 rounded-lg hover:bg-slate-900 hover:text-slate-100 dark:hover:bg-gray-500 dark:hover:text-white">
        Toggle Dark Mode
    </button>

</div>